*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
}

.container{
  min-height: 100vh;
  background-color: oklch(50.829% 0.15347 21.683);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

img{
  width: 30px;
  height: 30px;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  max-width: 620px;
  margin: auto;
  gap: 10px;
}

.header__title{
  color: white;
  margin: 0;
  padding: 10px 0px;
  font-size: 30px;
}

.space{
  height: 1px;
  margin-bottom: 40px;
}

.main{
  max-width: 480px;
  margin: auto;
}

.main__container{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px 0px 30px 0px;
  border-radius: 8px;
  border-radius: 6px;
  margin-bottom: 20px;
  width: 100%;
}

.button-wrapper{
display: flex;
justify-content: center;
}


.button{
  border: none;
  color: white;
  margin: 0;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  font-weight: 300;
  border-radius: 8;
}

.active{
  border: none;
  margin: 0;
  border-radius: 4px;
  font-family: ArialRounded;
  font-size: 16px;
  padding: 2px 12px;
  height: 28px;
  cursor: pointer;
  background: none;
  box-shadow: none;
  border-radius: 8;
  background-color: rgba(0, 0, 0, .15);
  color: white;
  opacity: 1;
  font-weight: bold;
}

.timer__set{
  font-size: 120px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  color: white;
}

.start__button{
  display: flex;
  justify-content: center;
}

.start{
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0px 12px;
  border-radius: 4px;
  box-shadow: 0px 6px 0px hsl(358, 0%, 92%);
  font-family: ArialRounded;
  font-size: 22px;
  height: 55px;
  margin-top: 20px;
  color: rgb(186, 73, 73);
  font-weight: bold;
  width: 200px;
  background-color: white;
  transition: color 0.5s ease-in-out;
}
